[submodule "themes/flatly_light_redmine"]
	path = themes/flatly_light_redmine
	url = git@github.com:hitsoft-redmine/flatly_light_redmine.git
[submodule "plugins/redmine_git_mirror"]
	path = plugins/redmine_git_mirror
	url = git@github.com:hitsoft-redmine/redmine_git_mirror.git
[submodule "plugins/redmine_theme_changer"]
	path = plugins/redmine_theme_changer
	url = git@github.com:hitsoft-redmine/redmine_theme_changer.git
[submodule "themes/RTMaterial"]
	path = themes/RTMaterial
	url = git@github.com:hitsoft-redmine/RTMaterial.git
[submodule "themes/PurpleMine2"]
	path = themes/PurpleMine2
	url = git@github.com:hitsoft-redmine/PurpleMine2.git
[submodule "plugins/redmine_mentions"]
	path = plugins/redmine_mentions
	url = git@github.com:hitsoft-redmine/redmine_mentions.git
[submodule "plugins/redmine_shortcuts"]
	path = plugins/redmine_shortcuts
	url = git@github.com:hitsoft-redmine/redmine_shortcuts.git
