version: '3.1'

services:

  redmine:
    build: .
#    image: redmine
    restart: always
    ports:
    - 9999:3000
    environment:
      REDMINE_PLUGINS_MIGRATE: 'true'
    volumes:
    - ./files:/usr/src/redmine/files
    - ./plugins:/usr/src/redmine/plugins
    - ./themes/PurpleMine2:/usr/src/redmine/public/themes/PurpleMine2
    - ./db:/usr/src/redmine/sqlite

